@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

 body{
    
        font-family: 'Open Sans', sans-serif;
        background: url(bg.jpeg);
        background-size:cover;
    

} 



.contact{
    
    position: relative;
    
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
    
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p{
    
    font-weight: 200;
    color: #fff;
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo
{
    
    width: 50%;
    display:flex;
    flex-direction: column;
}


.container .contactInfo .box
{
    
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight: 300;

}

.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #d5dae4;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background:#fff;
}
.contactForm h2
{
    font-size: 30px;
    color:#1abc;
    
    
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 25px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea


{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .submitBox input
{
    width: 120px;
    background:#1abc;
    color:#fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    
}
.sci {
    display: flex;
    padding: 0;
    margin-top: 10px;
}
.sci li{
    list-style: none;
}
.sci li::before{
    
    content: attr(data-text);
    position: absolute;
    top: 1px;
    left: 110px;
    
    transform: translate(-50%, calc(-50% + 120px));
    font-size: 14vw;
    pointer-events: none;
    font-weight: 70;
    transition: 0.5s;
    opacity: 0;
}
.sci li a:hover::before{
    opacity: 0.1;
    transform: translate(-50%, calc(50% + 150px));
}


.sci li a{
    position: relative;
    
    
    display: inline-block; 
    justify-content: center;
    background: #fff;
    color: #333;
    border-radius: 10px;
    
    font-size: 4em;
    margin: 20px;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    transition: background 0.25s;
}
.sci li a:hover.linkedin{
    background:#0e76a8;

}
.sci li a:hover.xing{
    background:#126567;
    

}
.sci li a:hover.github{
    background:#171515;
    

}

.sci li a .fa{
    transition: 0.25s;
    pointer-events: none;
}
.sci li a:hover .fa{
    color:#fff;
    transform: scale(1.05) translateZ(20px)
}
.sci li a:hover.xing .fa{
    color: #cfdc00;
}
.js-tilt-glare
{
    border-radius: 10px;
}



