.cobutton
{
    color:black;
font-weight:normal;
padding:10px;
width:90px;
height:22px;
border:solid 0.5px #b8babc;
border-radius:10px;
box-shadow:1px 1px 1px 1px #666;
background:#ccddea;
background:-moz-linear-gradient(left top,#ccddea,#bbd2e3);
background:-webkit-linear-gradient(left top,#ccddea,#bbd2e3);
background:-o-linear-gradient(left top,#ccddea,#bbd2e3);
background:-ms-linear-gradient(left top,#ccddea,#bbd2e3);
background:linear-gradient(left top,#ccddea,#bbd2e3);
/* cobutton:hover {background-color: #eae8cc}; */
}